In [46]:
import pandas as pd
import numpy as np
# To Read the dataset 
data=pd.read_csv("C:\\Users\\Saicharith\\OneDrive\\Desktop\\HRDataset_v14.csv")
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [47]:
#Displaying some information about HR dataset
no_of_rows,no_of_columns=data.shape
print(f"No of rows present in HR dataset: {no_of_rows}")
print(f"No of Columns present in HR dataset: {no_of_columns}")

No of rows present in HR dataset: 311
No of Columns present in HR dataset: 36

In [48]:
print("Count of duplicates: ",data.duplicated().sum())

Count of duplicates:  0

In [49]:
#checking null valued columns
data.isna().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [50]:
#poping out null valued columns
data=data.drop("DateofTermination",axis="columns")
data=data.drop("ManagerID",axis="columns")
data.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'TermReason', 'EmploymentStatus', 'Department',
       'ManagerName', 'RecruitmentSource', 'PerformanceScore',
       'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount',
       'LastPerformanceReview_Date', 'DaysLateLast30', 'Absences'],
      dtype='object')

In [51]:
#describing the data
data.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [52]:
data.isna().sum()

Employee_Name                 0
EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

In [53]:
target=data["Salary"]
data=data.drop("Salary",axis="columns")
data

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Termd,...,Department,ManagerName,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,0,...,Production,Michael Albert,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,1,...,IT/IS,Simon Roup,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,1,...,Production,Kissy Sullivan,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,0,...,Production,Elijiah Gray,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,1,...,Production,Webster Butler,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,0,...,Production,Kissy Sullivan,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,1,...,Production,Brannon Miller,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,0,...,IT/IS,Janet King,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,0,...,IT/IS,Simon Roup,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,0,...,Production,David Stanley,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

In [54]:
char_cols = data.dtypes.pipe(lambda x: x[x== 'object']).index
label_mapping = {}

for c in char_cols:
    data[c], label_mapping[c] = pd.factorize(data[c])
data.head(5)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Termd,...,Department,ManagerName,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,0,10026,0,0,1,1,5,4,0,0,...,0,0,0,0,4.60,5,0,0,0,1
1,1,10084,1,1,1,5,3,3,0,1,...,1,1,1,1,4.96,3,6,1,0,17
2,2,10196,1,1,0,5,5,3,0,1,...,0,2,0,1,3.02,3,0,2,0,3
3,3,10088,1,1,0,1,5,3,0,0,...,0,3,1,1,4.84,5,0,3,0,15
4,4,10069,0,2,0,5,5,3,0,1,...,0,4,2,1,5.00,4,0,4,0,2

In [60]:
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
#data = StandardScaler().fit_transform(data)

#split the data

x_train , x_test, y_train , y_test = train_test_split(data, target,test_size=0.2, shuffle=True)

clf = LogisticRegression().fit(x_train,y_train) 
pred = clf.predict(x_test)
print("Confusion Matrix:")
print(confusion_matrix(pred,y_test))
print('training complete')
print("Classification Report: ")
print(classification_report(y_test, pred))

Confusion Matrix:
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
training complete
Classification Report:
              precision    recall  f1-score   support

       46799       0.00      0.00      0.00       1.0
       46837       0.00      0.00      0.00       0.0
       47001       0.00      0.00      0.00       0.0
       47434       0.00      0.00      0.00       0.0
       47750       0.00      0.00      0.00       0.0
       47837       0.00      0.00      0.00       0.0
       48285       0.00      0.00      0.00       1.0
       48513       0.00      0.00      0.00       1.0
       48888       0.00      0.00      0.00       1.0
       49256       0.00      0.00      0.00       1.0
       49773       0.00      0.00      0.00       1.0
       50274       0.00      0.00      0.00       1.0
       50428       0.00      0.00      0.00       0.0
       50470       0.00      0.00      0.00       0.0
       51777       0.00      0.00      0.00       1.0
       51920       0.00      0.00      0.00       1.0
       52087       0.00      0.00      0.00       1.0
       52177       0.00      0.00      0.00       1.0
       52624       0.00      0.00      0.00       1.0
       52674       0.00      0.00      0.00       0.0
       53018       0.00      0.00      0.00       0.0
       53060       0.00      0.00      0.00       1.0
       53189       0.00      0.00      0.00       0.0
       53492       0.00      0.00      0.00       1.0
       53564       0.00      0.00      0.00       0.0
       54828       0.00      0.00      0.00       1.0
       54933       0.00      0.00      0.00       0.0
       55140       0.00      0.00      0.00       1.0
       55315       0.00      0.00      0.00       0.0
       55425       0.00      0.00      0.00       1.0
       55800       0.00      0.00      0.00       1.0
       55875       0.00      0.00      0.00       1.0
       57583       0.00      0.00      0.00       0.0
       57748       0.00      0.00      0.00       0.0
       57815       0.00      0.00      0.00       0.0
       57859       0.00      0.00      0.00       0.0
       57954       0.00      0.00      0.00       0.0
       58275       0.00      0.00      0.00       0.0
       58370       0.00      0.00      0.00       1.0
       58523       0.00      0.00      0.00       1.0
       58530       0.00      0.00      0.00       0.0
       59026       0.00      0.00      0.00       0.0
       59370       0.00      0.00      0.00       1.0
       59472       0.00      0.00      0.00       1.0
       60436       0.00      0.00      0.00       0.0
       60627       0.00      0.00      0.00       1.0
       61555       0.00      0.00      0.00       0.0
       61584       0.00      0.00      0.00       0.0
       61729       0.00      0.00      0.00       0.0
       61844       0.00      0.00      0.00       0.0
       62061       0.00      0.00      0.00       0.0
       62065       0.00      0.00      0.00       1.0
       62385       0.00      0.00      0.00       1.0
       62810       0.00      0.00      0.00       0.0
       63000       0.00      0.00      0.00       1.0
       63025       0.00      0.00      0.00       0.0
       63051       0.00      0.00      0.00       1.0
       63108       0.00      0.00      0.00       0.0
       63353       0.00      0.00      0.00       1.0
       63381       0.00      0.00      0.00       1.0
       63450       0.00      0.00      0.00       0.0
       63676       0.00      0.00      0.00       1.0
       63695       0.00      0.00      0.00       0.0
       64021       0.00      0.00      0.00       1.0
       64057       0.00      0.00      0.00       1.0
       64397       0.00      0.00      0.00       0.0
       64520       0.00      0.00      0.00       0.0
       64724       0.00      0.00      0.00       1.0
       64786       0.00      0.00      0.00       1.0
       64816       0.00      0.00      0.00       1.0
       64955       0.00      0.00      0.00       0.0
       64971       0.00      0.00      0.00       0.0
       64991       0.00      0.00      0.00       0.0
       65310       0.00      0.00      0.00       1.0
       65729       0.00      0.00      0.00       1.0
       66738       0.00      0.00      0.00       1.0
       67176       0.00      0.00      0.00       1.0
       67237       0.00      0.00      0.00       0.0
       68099       0.00      0.00      0.00       0.0
       68182       0.00      0.00      0.00       1.0
       68407       0.00      0.00      0.00       1.0
       68829       0.00      0.00      0.00       1.0
       68898       0.00      0.00      0.00       1.0
       70468       0.00      0.00      0.00       1.0
       70545       0.00      0.00      0.00       0.0
       70621       0.00      0.00      0.00       0.0
       71339       0.00      0.00      0.00       1.0
       71776       0.00      0.00      0.00       1.0
       71966       0.00      0.00      0.00       0.0
       72106       0.00      0.00      0.00       1.0
       72202       0.00      0.00      0.00       0.0
       72640       0.00      0.00      0.00       0.0
       72992       0.00      0.00      0.00       1.0
       74417       0.00      0.00      0.00       0.0
       74813       0.00      0.00      0.00       0.0
       75188       0.00      0.00      0.00       0.0
       75281       0.00      0.00      0.00       0.0
       77692       0.00      0.00      0.00       1.0
       77915       0.00      0.00      0.00       0.0
       80512       0.00      0.00      0.00       1.0
       84903       0.00      0.00      0.00       0.0
       87565       0.00      0.00      0.00       1.0
       88976       0.00      0.00      0.00       0.0
       92329       0.00      0.00      0.00       0.0
       93046       0.00      0.00      0.00       1.0
       93206       0.00      0.00      0.00       1.0
       95920       0.00      0.00      0.00       0.0
      106367       0.00      0.00      0.00       1.0
      108987       0.00      0.00      0.00       1.0
      110000       0.00      0.00      0.00       1.0
      113999       0.00      0.00      0.00       1.0
      114800       0.00      0.00      0.00       0.0
      120000       0.00      0.00      0.00       1.0
      140920       0.00      0.00      0.00       0.0
      150290       0.00      0.00      0.00       1.0
      157000       0.00      0.00      0.00       1.0
      170500       0.00      0.00      0.00       1.0
      220450       0.00      0.00      0.00       1.0
      250000       0.00      0.00      0.00       0.0

    accuracy                           0.00      63.0
   macro avg       0.00      0.00      0.00      63.0
weighted avg       0.00      0.00      0.00      63.0

C:\Users\Saicharith\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Saicharith\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Saicharith\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Saicharith\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Saicharith\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Saicharith\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))